body{
    background-color: hsl(30, 54%, 90%);
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    font-family: 'Outfit';
}

main {
    display: flex;
    flex-direction: column;
    background-color: white;
    align-items: center;
    width: 650px;
    height: 200vh;
    border-radius: 30px;
    margin: 120px;
    padding: 36px;
    

}

#topImage {
    background-image: url("./assets/images/image-omelette.jpeg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    min-height: 300px;
    width: 100%;
    border-radius: 10px;
}

h1{
    font-size: 35px;
    font-family: 'Young Serif';
    align-self: start;
}

h2 {
    color: hsl(14, 45%, 36%);
    font-family: 'Young Serif';
}

h3 {
    color: hsl(332, 51%, 32%);
    font-family: 'Young Serif';
}

footer {
    display: flex;
    justify-content: center;
    margin-bottom: 10px;
}

.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}
